@import "../styles/foundations.scss";

$pageCounter: 2;
$fullPageHeignt: #{100vh * 2}; //pageCounter
$fullPageHeigntLandscape: autoResize(900px, 1400px, $phoneWidth); //pageCounter

.logo {
  position: absolute;
  top: 68px;
  left: 72px;

  top: autoResize(16px, 68px, $phoneWidth) !important;
  left: autoResize(16px, 72px, $phoneWidth) !important;

  height: 60px;
  width: 194px;

  height: autoResize(46px, 60px, $phoneWidth) !important;
  width: autoResize(134px, 194px, $phoneWidth) !important;
}

.background {
  position: absolute;
  width: auto;
  height: 100%;
  min-width: 100%;
}

.content {
  display: flex;
  position: relative;

  height: 100vh;
  max-height: 100vh;
  min-height: 1080px;
  min-width: 1920px;

  overflow: hidden;
  overflow-x: hidden;
}

.bgContainer {
  overflow: hidden;
  max-height: calc($fullPageHeignt + $footerHeightLg);

  @media (max-width: $footerPoint) {
    max-height: calc($fullPageHeignt + $footerHeightMob);
  }

  @media (orientation: landscape) and (max-height: $footerPoint) {
    max-height: calc($fullPageHeigntLandscape + $footerHeightMob);
  }

  position: relative;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: $mainBG;
}

.contentContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
