@import "../../styles/foundations.scss";

.lst-kix_flsz2ds4j91f-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_flsz2ds4j91f-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_flsz2ds4j91f-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_flsz2ds4j91f-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_flsz2ds4j91f-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_flsz2ds4j91f-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_flsz2ds4j91f-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_bksan4go5qzx-0 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-1 {
  list-style-type: none;
}
.lst-kix_flsz2ds4j91f-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_c2j4gjavpelq-8 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-7 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-6 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-1 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-0 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-5 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-4 {
  list-style-type: none;
}
ul.lst-kix_c2j4gjavpelq-3 {
  list-style-type: none;
}
.lst-kix_flsz2ds4j91f-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_c2j4gjavpelq-2 {
  list-style-type: none;
}
ul.lst-kix_7yj9f4d8yr92-2 {
  list-style-type: none;
}
.lst-kix_rs8ohnd8upvr-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_7yj9f4d8yr92-3 {
  list-style-type: none;
}
ul.lst-kix_7yj9f4d8yr92-0 {
  list-style-type: none;
}
ul.lst-kix_7yj9f4d8yr92-1 {
  list-style-type: none;
}
.lst-kix_rs8ohnd8upvr-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rs8ohnd8upvr-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rs8ohnd8upvr-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_7yj9f4d8yr92-8 {
  list-style-type: none;
}
ul.lst-kix_7yj9f4d8yr92-6 {
  list-style-type: none;
}
ul.lst-kix_7yj9f4d8yr92-7 {
  list-style-type: none;
}
ul.lst-kix_7yj9f4d8yr92-4 {
  list-style-type: none;
}
.lst-kix_rs8ohnd8upvr-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_7yj9f4d8yr92-5 {
  list-style-type: none;
}
.lst-kix_rs8ohnd8upvr-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rs8ohnd8upvr-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rs8ohnd8upvr-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rs1wojg4srrv-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rs1wojg4srrv-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rs1wojg4srrv-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rs1wojg4srrv-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rs1wojg4srrv-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rs1wojg4srrv-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rs1wojg4srrv-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_rs1wojg4srrv-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_rs8ohnd8upvr-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_rs1wojg4srrv-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_c2j4gjavpelq-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_c2j4gjavpelq-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_7yj9f4d8yr92-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_c2j4gjavpelq-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_c2j4gjavpelq-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_7yj9f4d8yr92-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_7yj9f4d8yr92-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_c2j4gjavpelq-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_c2j4gjavpelq-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5hpfuxgh0rhv-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_5hpfuxgh0rhv-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5hpfuxgh0rhv-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_5hpfuxgh0rhv-3 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-2 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-1 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-0 {
  list-style-type: none;
}
.lst-kix_bksan4go5qzx-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_fm3q20mfrpto-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_bksan4go5qzx-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_bksan4go5qzx-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_fm3q20mfrpto-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_bksan4go5qzx-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_fm3q20mfrpto-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_fm3q20mfrpto-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_bksan4go5qzx-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_bksan4go5qzx-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_fm3q20mfrpto-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_5hpfuxgh0rhv-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_5hpfuxgh0rhv-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5hpfuxgh0rhv-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_5hpfuxgh0rhv-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_5hpfuxgh0rhv-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_5hpfuxgh0rhv-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_flsz2ds4j91f-8 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-3 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-7 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-4 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-6 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-5 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-5 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-6 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-0 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-1 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-2 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-0 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-4 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-7 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-3 {
  list-style-type: none;
}
ul.lst-kix_rs1wojg4srrv-8 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-2 {
  list-style-type: none;
}
ul.lst-kix_flsz2ds4j91f-1 {
  list-style-type: none;
}
.lst-kix_fm3q20mfrpto-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_fm3q20mfrpto-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_bksan4go5qzx-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_fm3q20mfrpto-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_bksan4go5qzx-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_fm3q20mfrpto-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_bksan4go5qzx-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_5hpfuxgh0rhv-7 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-6 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-6 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-7 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-5 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-8 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-4 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-1 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-2 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-0 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-3 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-3 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-4 {
  list-style-type: none;
}
ul.lst-kix_5hpfuxgh0rhv-8 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-2 {
  list-style-type: none;
}
ul.lst-kix_bksan4go5qzx-5 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-5 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-4 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-7 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-6 {
  list-style-type: none;
}
ul.lst-kix_fm3q20mfrpto-8 {
  list-style-type: none;
}
.lst-kix_7yj9f4d8yr92-8 > li:before {
  content: "\0025a0  ";
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_rs8ohnd8upvr-8 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-6 {
  list-style-type: none;
}
.lst-kix_7yj9f4d8yr92-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_7yj9f4d8yr92-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_rs8ohnd8upvr-7 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-4 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-5 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-2 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-3 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-0 {
  list-style-type: none;
}
ul.lst-kix_rs8ohnd8upvr-1 {
  list-style-type: none;
}
.lst-kix_c2j4gjavpelq-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_7yj9f4d8yr92-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_c2j4gjavpelq-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_c2j4gjavpelq-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_7yj9f4d8yr92-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_7yj9f4d8yr92-5 > li:before {
  content: "\0025a0  ";
}

.c6 {
  background-color: #ffffff;
  padding-top: 19pt;
  border-bottom-width: 0pt;
  padding-bottom: 0pt;
  line-height: 1.4;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  background-color: #ffffff;
  padding-top: 15pt;
  border-bottom-width: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  border-bottom-style: solid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c2 {
  background-color: #ffffff;
  margin-left: autoResize(30px, 70px, $phoneWidth) !important;
  padding-left: 0pt;
  line-height: 2;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c0 {
  color: #49396a;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.c3 {
  color: #221341;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.c1 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 8pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c4 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal;
}
.c10 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c5 {
  padding: 0;
  margin: 0;
}
.c7 {
  color: #49396a;
  font-size: 12pt;
}
.c9 {
  color: inherit;
  text-decoration: inherit;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
